/*Banniere de la page Qui Sommes nous?*/
.page-banner-section {
    background: url('../upload/banners/bao_ban1.png') center;
}
/*Modification apporter au style de base*/
.accord-elem.active .accord-title h2 {
    color: #ffffff;
    border: 1px solid #00008B;
    background: #00008B;
}
.accord-elem.active a.accord-link {
    background: #333333;
    border: 1px solid #333333;
    border-right: none;
}

/*Modifier image de la banniere de fonds*/
.testimonial-section {
    background: url('../upload/banners/bao_banner.jpg') fixed;
}
.testimonial-box {
    margin: auto;
    width: 100%;
    padding: 10px;
    text-decoration: none;
}
/*-------------------------------------------------*/
/* =  services pages
/*-------------------------------------------------*/

.services-page-section ul.side-navigation-list li a:hover,
.services-page-section ul.side-navigation-list li a.active {
    color:#00008B;
    font-weight: bold;
    background: #FFF5EF;
}
.services-page-section .contact-info {
    padding: 25px 30px;
    background: #ffffff;
}
.services-page-section .contact-info ul.information-list li i {
    margin-left: 2px;
    font-weight: bold;
    color: #F7230C;
}
.services-page-section .services-wrapp .services-post a:hover {
    color: #F7230C;
}
/*Modification de la section Techniques de travail et les titres d'option*/
.tab-posts-box ul.nav-tabs li a:hover {
    border: none;
    color: #F7230C;
}
.tab-posts-box ul.nav-tabs li.active a {
    border: none;
    background: #FD6C9E;
    color: #ffffff;
}
/*-------------------------------------------------*/
/* =  services pages
/*-------------------------------------------------*/

/*Section services offert*/
.services-offer-section .offer-post h2 a {
    color: #F7230C;
}
.services-offer-section .offer-post h2 a:hover {
    color: #00008B;
}

/*references section*/
ul.offer-list{
   list-style: none;
}

/*Footer*/
footer .up-footer h2 {
    color: #ffffff;
}
footer .up-footer ul.tag-list li a:hover {
    background: none;
    border: 1px solid #F7230C;
}